{% extends "layout.jinja2" %}
{% block content %}
    <div class="content">
        <div id="foo">
            <form>
                <label for="cty">cty</label>
                <select class="cty" name="city">
                    <option value="tokyo">tokyo</option>
                    <option value="osaka">osaka</option>
                </select>
                <br>
                <label for="fname">check in date</label>
                <input type="date" class="checkinDate" name="checkinDate">
                <label for="lname">check out Date</label>
                <input type="date" class="checkoutDate" name="checkoutDate">
                <br> <label for="lname">number of rooms</label>
                <input type="number" class="rooms" value="" max="9" min="0">
                <br>
                <div class="roomsItem" data-index="<%- roomList %>"></div>

                <script class="template-rooms" type="text/template">
                    <% _.each(roomss, function(roomList) { %>
                    <div>
                        <label for="lname">adult</label>
                        <input type="number" class="adult" data-index="<%- roomList %>"
                               data-type="adult"
                               name="adult "
                               max="9" min="0">
                        <label for="lname">child</label>
                        <input type="number" data-index="<%- roomList %>"
                               data-type="child" class="child"
                               name="child "
                               max="9" min="0">
                    </div>
                    <% })%>
                    <%  %>
                </script>
                <button type="button" class="loadAgtMst">Search</button>
                <input class="areaCode"/>
                <p>total Hotel Demo <strong class="totalhotel"></strong></p>
                <div class="test-template"></div>

                <script class="template-container" type="text/template">
                    <% _.each(hotelshow, function(hotelshowds) { %>
                    <div class="searchResult <%= hotelshowds.namehotel %>">
                        <div class="searchBreadcrumb">
                            <p> hotel Name : <%= hotelshowds.namehotel %></p>
                            <p> price: <%= hotelshowds.price %></p>
                            <p>tax: <%= hotelshowds.tax %></p>
                            <p>Rooms: <%= hotelshowds.room %></p>
                        </div>
                    </div>
                    <% })%>
                    <%  %>
                </script>
            </form>
        </div>
        <script>

            (function (window, $) {
                var adultList = new Map();
                var childList = new Map();
                var
                    DetailAgsMstView = Backbone.View.extend({
                        el: '#foo',
                        events: {
                            'click .loadAgtMst': 'loadAgtMst',
                            'change .adult': 'changeadult',
                            'change .child': 'chageChild',
                            'change .rooms': 'invaliRooms',
                        },

                        initialize: function () {
                        },
                        changeadult: function (e) {
                            var id = $(e.currentTarget).data('index');
                            var adult = $(e.currentTarget).val()
                            adultList.set(id, adult);
                            console.log(adultList)
                        },

                        chageChild: function (e) {
                            var id = $(e.currentTarget).data('index');
                            var child = $(e.currentTarget).val()
                            childList.set(id, child)
                        },
                        loadAgtMst: function (e) {
                            var arrHotelDemo = [];
                            var hotelDemo1 = {
                                "namehotel": "gold1",
                                "price": 234,
                                "tax": 123,
                                "room": '2,5,5:3,5:',
                            }
                            var hotelDemo2 = {
                                "namehotel": "gold2",
                                "price": 234,
                                "tax": 123,
                                "room": '2,5,5:3,5:',
                            }
                            var hotelDemo3 = {
                                "namehotel": "gold3",
                                "price": 234,
                                "tax": 123,
                                "room": '2,5,5:3,5:',
                            }
                            arrHotelDemo.push(hotelDemo1);
                            arrHotelDemo.push(hotelDemo2);
                            arrHotelDemo.push(hotelDemo3);
                            $('.totalhotel').text(arrHotelDemo.length);
                            students: ["Shubham", "Shakya"]
                            var template = _.template($(".template-container").html());
                            var markup = template({
                                hotelshow: arrHotelDemo,
                                titlehotel: "lDe modd"
                            });
                            $('.test-template').html(markup);
                            //[...adultList.keys()] chuyen keys cua map adultList thanh arr
                            var roomsValue = [...adultList.keys()].map(roomIndex => {
                                const adultValue = adultList.get(roomIndex);
                                //childValue lay ra gia tri cuar vi tri rooomIndex
                                const childValue = childList.get(roomIndex);
                                //tao mang co childValue phan tu co gia tri la 5
                                var item = Array.from({length: Number(childValue)}, (v, i) => 5)
                                // chen phan tu vao phia ben trai cua mang
                                item.unshift(Number(adultValue));
                                return item.join(",")
                            }).join(":")
                            console.log(roomsValue)
                        },
                        invaliRooms: function () {
                            var rooms = $('.rooms').val();
                            var a = Array.from(Array(Number(rooms)).keys());
                            var tempalteRoom = _.template($(".template-rooms").html());
                            var roomsList = tempalteRoom({
                                roomss: a
                            })
                            $('.roomsItem').html(roomsList);
                        }
                    });
                new DetailAgsMstView()
            })
            (window, jQuery);
        </script>
    </div>
{% endblock content %}
